

    <div layout="row" class="padding-5" align="left">
        <div ng-show="currentChoice.id == 1" class="padding-5">
        </div>

        <div ng-show="currentChoice.id > 1">
            <img width="15%" ng-click="previous()" src="/static/images/left.png">
        </div>

    </div>

    <div layout="column" class="intro-title">{{currentChoice.id}}/{{choiceList.length}}</div>

    <div layout="column" class="padding-5 choice-title">
        아래의 선택지 중 현재 나의 상태와<br>가장 가까운 항목을 선택해주세요.
    </div>

        <div layout="column" class="padding-7">
            <button class="btn btn-choice" ng-bind-html="currentChoice.type_a" ng-click="clickAnswer(currentChoice, 'a')">
            </button>
        </div>

        <div layout="column" class="padding-7">
            <button class="btn btn-choice" ng-bind-html="currentChoice.type_b" ng-click="clickAnswer(currentChoice, 'b')">
            </button>
        </div>
