.padding-10{
    padding: 10vw;
}

.padding-5{
    padding: 5vw;
}

.padding-7{
    padding: 7vw;
}

.btn{
    font-family: serif;
    font-weight: 600;
    padding: 3vw;
    width: 40%;
    border: 1px solid #605145;
    background-color: transparent;
    color: #605145;
    font-size: 5vw;
/*    font-family: 'Nanum Myeongjo';
    font-style: bold;
    font-weight: 600; */
}

.font-small{
    font-size: 3vw;
}

.divider{
    width: 80%;
    border: 1px solid #605145;
    margin: 3vw;
}