body{
    background-color: #FBB881;
    font-family: serif;
    color: #615146;
    font-size: 5vw;
}

@font-face {
  font-family: serif;
  font-style: normal;
  font-weight: 600;
}

.intro-title{
    font-family: serif;
    font-weight: bold;
}

.btn-choice{
    width: 100%;
    padding: 13vw 8vw;
    font-size: 4vw;
}

.temperature{
    font-size: 20vw;
}