body{
    background-color: #FBB881;
    /*font-family: serif; */
    font-family: 'Nanum Myeongjo', serif;
    color: #615146;
    font-size: 5vw;
}

.intro-title{
    /* font-family: 'Nanum Myeongjo'; */
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

.choice-title{
    font-size: 4vw;
    line-height: 6vw;
}

.btn-choice{
    width: 100%;
    padding: 10vw 6vw;
    font-size: 4vw;
    line-height: 6vw;
}

.temperature{
    font-size: 18vw;
}

.result-description{
    padding: 6vw 15vw;
    font-size: 4vw;
    line-height: 6vw;
}