body{
    background-color: #FBB881;
    /*font-family: serif; */
    font-family: 'Nanum Myeongjo', serif;
    color: #615146;
    font-size: 5vw;
}

.intro-title{
    /* font-family: 'Nanum Myeongjo'; */
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

.choice-title{
    font-size: 4vw;
}

.btn-choice{
    width: 100%;
    padding: 13vw 8vw;
    font-size: 4vw;
}

.temperature{
    font-size: 20vw;
}