<div class="padding-5"></div>
<div ng-if="priorityArr.length != maxCount" layout="column" class="padding-2">
    아래 3개의 가사말의 선호도에 따라<br>우선순위를 정해주세요.
</div>
<div ng-if="priorityArr.length == maxCount" layout="column" class="padding-2">
    아래의 다음 버튼을 눌러주세요.
</div>

<div class="padding-2"></div>
<div class="padding-2"></div>
<!--<div class="divider"></div>-->
<div layout="column" >
    <md-content>
        <md-list flex>
        <md-list-item align="center center" flex  ng-repeat="song in songs" >

            <div flex class="div-lyric {{song.priorityCheck ? 'selected' : ''}}" ng-click="selectSongs(song,$event)" layout="row">
                <div layout="column" layout-align="center center" flex="10" align="center" width="100%">
                    <img width="100%" ng-show="song.priorityCheck"  ng-src="/static/images/{{song.priority}}.png">
                </div>
                <div align="left" layout="column" flex ng-bind-html="song.lyric"></div>


            </div>
        </md-list-item>
        </md-list>
    </md-content>

</div>
<div class="padding-10">
    <button ng-show="priorityArr.length == maxCount" class="btn" ng-click="nextPage()">다음</button>
</div>
