<div layout="column" flex>
    <div layout="column" layout-align="center center" class="font-small" flex="20">
        <img width="20%" src="/static/images/logo_row.png">
    </div>
<!--<div class="padding-10"></div>-->
<!--<div class="paading-10"></div>-->
    <!--<div class="padding-10"></div>-->
    <div layout="row" flex="30">
      <div flex="20">
      </div>
      <div layout="column" flex >
          <md-input-container class="white-font">
              <label class="white-font">나이</label>
              <md-select ng-model="age">
                  <md-option ng-repeat="n in [].constructor(60) track by $index" value="{{$index+15}}">{{$index+15}}</md-option>
              </md-select>
          </md-input-container>
      </div>
        <div flex="20">
            &nbsp;
        </div>
    </div>
    <!--<div class="padding-10"></div>-->
    <!--<div class="padding-10"></div>-->
    <div layout="row" flex="30">
      <div flex="20">
          &nbsp;
      </div>
      <div layout="column" flex>
        <md-input-container class="white-font">
            <label class="white-font">성별</label>
            <md-select ng-model="gender">
                <md-option value="female">여</md-option>
                <md-option value="male">남</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div flex="20">
            &nbsp;
        </div>
    </div>

    <div flex="20">
        <button class="btn btn-enter" ng-click="enter()">공연 입장하기</button>
    </div>

</div>