<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/open.css') }}">
<head>
    <meta charset="UTF-8">
    <title>사랑의 단상</title>
</head>

<body>
    <div class="padding-10"></div>
    <div class="padding-10"></div>
    <div class="padding-10"></div>
    <div align="center">
        지금은 공연중입니다.<br>
        사회자의 안내에 따라<br>
        잠시 후에 다시 접속해주시기 바랍니다.
    </div>

</body>
</html>